:root {
    --main-text-color: #313131;
    --button-color: #1F1F1F;
    --white-color: #FFFFFF;
    --red-color: #F54932;
    --yellow-color: #FBCE51;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none;
    list-style: none;
    text-decoration: none;
    outline: none;
}

html {
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #000;
}

body {
    background: #fff;
}

button {
    border: 2px solid var(--button-color);
    border-radius: 66px;
    font-family: "Golos Text", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 130%;
}

/* header */

.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 72px;
}

.header_container {
    max-width: 1920px;
    padding: 26px 0 0 349px;
    background-image: url('./img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.header_text {
    max-width: 35%;
    margin-bottom: 24px;
    color: var(--main-text-color);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 60px;
    line-height: 110%;
}

.header_text p:last-child {
    text-align: center;
}

.header_description {
    max-width: 35%;
    margin-bottom: 40px;
    text-align: center;
    color: var(--main-text-color);
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}

.header_buttons {
    max-width: 35%;
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    justify-content: space-between;
    padding-bottom: 132px;
}

.header_btn {
    width: 264px;
    height: 73px;
}

.header_btn_black {
    padding: 0 35px 0 35px;
    background-color: var(--button-color);
    color:  var(--white-color);
    border: 1px solid transparent;
}

.header_btn_black:hover {
    background-color: var(--yellow-color);
    color:  var(--button-color);
    transition: .3s;
}

.header_btn_white {
    padding: 0 45px 0 45px;
    background-color: transparent;
    color: var(--button-color);
}

.header_btn_white:hover {
    background-color: var(--button-color);
    color:  var(--white-color);
    border: 1px solid transparent;
    transition: .3s;
}

/* Marquee */
  
.marquee {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 60px;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 18px 12px;
    background-color: var(--red-color);
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 25s linear infinite;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

.content_text {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    line-height: 110%;
    color: var(--white-color);
}

.content_text svg {
    transform: translateY(-5px);
}

/* Main */

.main_top { 
    margin-top: 80px;
    margin-bottom: 57px;
}

.main_top_desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main_top_mobile {
    display: none;
}

.main_top_description {
    max-width: 64%;
    margin-top: 24px;
}

.main_bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 184px; 
}

.main_bottom_img {
    margin-top: -30px;
    margin-left: -28px;
    margin-right: 16px;
}

.main_bottom_description {
    margin-bottom: 44px;
}

.main_text {
    display: inline;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
    line-height: 135%;
    color: var(--main-text-color);   
}

.main_text_color {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    line-height: 135%;
    color: var(--red-color); 
}

.main_table_mobile {
    display: none;
}

.main_table_desktop a {
    color: #3057A2;
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 25px;
}

tr, td {
    padding: 16px 0 16px 0;
}

table .table_row td {
    border-bottom: 2px solid #D0D0D0;
}

table .table_row:nth-child(5) td {
    border-bottom: transparent;    
}

.table_cell {
    width: 45%;
    border-right: 2px solid #D0D0D0;
    color: var(--main-text-color);
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    opacity: 70%;
}

.table_cell_right {
    padding-left: 16px;
    color: var(--main-text-color);
    font-family: "Golos Text", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
}

.table_cell_right s {
    text-decoration: line-through!important;
    text-decoration-color: #F54932!important;
}

/* Stages */

.mySwiper_stages {
    display: none;
} 

.stages {
    margin-bottom: 200px;
}

.stages_header {
    max-width: 60%;
    margin-bottom: 53px;
    display: inline-block;
    text-transform: uppercase;
    color: var(--main-text-color);
    font-size: 54px;
    font-weight: 400;
    line-height: 120%;
}

.stages_header_text {
    max-width: 40%;
    display: inline-block;
    text-transform: none;
    color: #3057A2;
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.grid_container {
    display: grid;
    gap: 20px;

    grid-template-areas:
        "A B C"
        "D E C"
        "F G G";
}

.grid_cell {
    display: flex;
    flex-direction: row;
    background-image: url('./img/bg_stages_.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.grid_cell_number {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 20px 16px 0 20px;
    padding: 5px 18px 0px 12px;
    border-radius: 50%;
    background-color: var(--white-color);
    color: var(--main-text-color);
    font-family: "Golos Text", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
}

.grid_cell_text {
    padding: 20px 20px 20px 0;
    color: var(--main-text-color);
    font-family: "Golos Text", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
}

.grid_cell-1 {
    grid-area: A;
}
.grid_cell-2 {
    grid-area: B;
}
.grid_cell-3 {
    grid-area: C;
}
.grid_cell-4 {
    grid-area: D;
}
.grid_cell-5 {
    grid-area: E;
}

.grid_cell-6 {
    grid-area: F;
}

.grid_cell-7 {
    position: relative;
    grid-area: G;
}

.grid_cell-7 .grid_cell_text {
    width: 55%;
}

.grid_cell-7::after {
    position: absolute;
    content: url('./img/airplan.png');
    top: -100px;
    right: -74px;
    overflow: visible;
}

/* Swiper */

.mySwiper {
    width: 100%;
    height: 740px;
}

.myButtonNext {
    width: 44px;
    height: 44px;
    right: 1px;
    left: auto;
    top: 20px;
    bottom: auto;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: var(--main-text-color);
    color: var(--white-color);
    --swiper-navigation-size: 20px;
}

.myButtonNext:hover, 
.myButtonPrev:hover {
    background-color: var(--yellow-color);
    transition: .2s;
}

.myButtonPrev {
    width: 44px;
    height: 44px;
    left: auto;
    right: 100px;
    top: 20px;
    bottom: auto;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: var(--main-text-color);
    color: var(--white-color);
    --swiper-navigation-size: 20px;
}

.myPagination {
    bottom: auto;
    top: 23px;
    left: auto;
    right: 55px;
    width: 37px;
}

/* Participants */

.participants_header {
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 400;
    line-height: 120%;
    color: var(--main-text-color);
}

.person_card {
    height: 462px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person_avatar {
    margin-bottom: 25px;
}

.person_name {
    margin-bottom: 6px;
    color: var(--main-text-color);
    font-family: "Golos Text", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
}

.person_grade {
    margin-bottom: 19px;
    color: var(--main-text-color);
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    opacity: 60%;
}

.person_card_more {
    padding: 7px 12px;
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid #3057A2;
    color: #3057A2;
    font-family: "Golos Text", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
}

.person_card_more:hover {
    background-color: #3057A2;
    color: var(--white-color);
    transition: .3s;
}

/* Footer */

.footer_container {
    max-width: 1920px;
    background-color: #E9DED4;
    padding: 40px 349px 72px 349px;
}

.footer_text {
    color: var(--main-text-color);
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    opacity: 60%;
}



@media screen and (max-width: 1366px) {
    
    /* Header */

    .header_container {
        background-position: center;
        padding: 26px 0 0 72px;
    }

    .logo {
        margin-bottom: 57px;
    }

    .header_text {
        margin: 0 0 25px 0;
    }

    .header_text, .header_description, .header_buttons {
        max-width: 42%;
    }

    /* Footer */

    .footer_container {
        padding: 29px 72px 72px 72px;
    }
}

@media screen and (max-width: 375px) {  

    .container {
        padding: 0 20px;
    }
    /* Header */

    .header_container {
        padding: 18px 20px 0 20px;
        background-image: url('./img/main_screen_bg.png');
        background-repeat: no-repeat;
        background-position: inherit;
        background-size: cover;
    }

    .logo {
        margin-bottom: 40px;
    }

    .header_text, .header_description, .header_buttons {
        max-width: 100%;
    }
    
    .header_text {
        font-size: 36px; 
    }

    .header_description {
        margin-bottom: 32px;
        text-align: left;
    }

    .header_buttons {
        flex-direction: column;
    }

    .header_btn {
        width: 100%;
        height: 47px;
        margin-bottom: 14px;
    }

    .header_btn_white {
        margin-bottom: 165px;
        background-color: rgba(255, 255, 255, 0.8);
        border: 2px solid rgba(255, 255, 255, 0.8);
    }

    /* Marquee */

    .marquee {
        height: 38px;
        padding: 11px 8px;
    }

    .content_text {
        font-size: 16px;
    }

    /* Support */

    .main_top {
        margin-top: 48px;
    }

    .main_text, .main_text_order, .main_text_color {
        font-size: 28px;   
    }

    .main_top_desktop {
        display: none;
    }

    .main_top_mobile {
        display: flex;
    }

    .main_top_description {
        max-width: 100%;
    }

    .main_top_mobile .main_top_img img {
        width: 100%;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .main_bottom {
        flex-direction: column;
        margin-bottom: 120px;
    }

    .main_bottom_img {
        margin: 0;
        margin-bottom: 24px;
    }

    .main_bottom_img img {
        width: 100%;
    }

    .main_bottom_description {
        margin-bottom: 44px;
    }

    .main_table_desktop {
        display: none;
    }

    .main_table_mobile {
        display: flex;
        flex-direction: column;
    }

    .main_table_mobile_text {
        color: var(--main-text-color);
        font-family: "Golos Text", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        opacity: 70%;
    }

    .main_table_mobile_text_bold {
        padding-bottom: 15px;
        color: var(--main-text-color);
        font-family: "Golos Text", sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
    }

    .main_table_mobile_text_bold s {
        padding-right: 10px;
        text-decoration: line-through!important;
        text-decoration-color: #F54932!important;
    }

    .main_table_mobile > div:not(:last-child) {
        border-bottom: 2px solid #D0D0D0;
    }

    .main_table_mobile a {
        color: #3057A2;
        font-family: "Golos Text", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        margin-top: 40px;
    }

    /* Stages */

    .stages {
        position: relative;
        margin-bottom: 120px;
    }

    .stages::after {
        position: absolute;
        content: url('./img/airplan_2.png');
        width: 100%;
        height: 100%;
        top: 193px;
        right: -10px;
        overflow: visible;
    }

    .stages_header {
        max-width: 100%;
        font-size: 36px;
        margin-bottom: 148px;
    }

    .stages_header_text {
        max-width: 100%;
        font-size: 18px;
    }

    .grid_container {
        display: none;
    }

    .mySwiper_stages {
        display: block;
        width: 100%;
        height: 370px;
    }

    .mySwiper_stages_wrapper {
        height: 80%;
    }

    .mySwiper_stages_slide {
        display: flex;
        padding-top: 45px;
        background-image: url('./img/bg_stages_.png');
    }

    .flex_block {
        display: flex;
    }

    .mySwiper_stages_text {
        font-size: 18px;
    }

    .mySwiper_stages_pagination {
        --swiper-theme-color: var(--main-text-color);
        bottom: 20px!important;
        top: auto;
        left: 0;
        width: 100%;
    }

    .mySwiper_stages_ButtonNext {
        width: 36px;
        height: 36px;
        right: 20%;
        left: auto;
        top: 90%;
        bottom: auto;
        border-radius: 50%;
        border: 1px solid transparent;
        background-color: var(--main-text-color);
        color: var(--white-color);
        --swiper-navigation-size: 20px;
    }

    .mySwiper_stages_ButtonPrev {
        width: 36px;
        height: 36px;
        right: auto;
        left: 20%;
        top: 90%;
        bottom: auto;
        border-radius: 50%;
        border: 1px solid transparent;
        background-color: var(--main-text-color);
        color: var(--white-color);
        --swiper-navigation-size: 20px;
    }



    /* Participants */ 

    .participants {
        margin-bottom: 50px;
    }

    .participants_header {
        font-size: 36px;
    }

    .myPagination {
        bottom: auto;
        top: 90%;
        left: auto;
        right: 44%;
        width: 37px;
    }

    .myButtonPrev {
        width: 36px;
        height: 36px;
        left: auto;
        right: 58%;
        top: 90%;
        bottom: auto;
        --swiper-navigation-size: 14px;
    }

    .myButtonNext {
        width: 36px;
        height: 36px;
        right: 30%;
        left: auto;
        top: 90%;
        bottom: auto;
        --swiper-navigation-size: 14px;
    }

    /* Footer */

    .footer_container {
        padding: 40px 20px 60px 20px;
    }
}
  